.App {
  text-align: center;
}
body{
  background-color: rgb(234, 238, 251);
}


#logo {
  height: 50px;
  width: auto;
  margin: 0px;

}

#profile-img{
  border-radius: 1000px;
  height: 375px;
  width: 275px;
  display: block;
  margin: 0px auto;
}

#computer{
  height: 450px;
  width: auto;
  margin-left: 300px;

}