
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Red+Hat+Display&family=Source+Code+Pro:wght@400;500&display=swap');
.App {
  text-align: center; 
}
body{
  background-color: rgb(234, 238, 251);
  font-family: 'MuseoModerno', cursive;
}

#logo {
  height: 70px;
  width: auto;
  margin: 0px;

}

#profile-img{
  border-radius: 1000px;
  height: 375px;
  width: 275px;
  display: block;
  margin: 0px auto;
  margin-top: 80px;
}

#computer{
  height: 450px;
  width: auto;
  margin-left: 400px;

}

#intro{
  text-align: center;
}

#nav {
  top: 0;
  width: 100%;
  position: absolute;
  margin-left: 0 !important;
  overflow: hidden;
  z-index: 1;
  padding-top: 10px;

}

.nav-name{
  font-size: 45px;
  padding-left: 15px;
  background-color: rgb(234, 238, 251);
  font-family: 'MuseoModerno', cursive;

}

.about-blurb{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  padding: 75px;
  /* border-bottom: 3px black solid; */
}

.skills-title {
  text-align: center;
  justify-content: center;
  text-align: center;
  border-top: 3px #403c6d;
  margin: 0;
  font-size: 75px;
  padding: 20px;
}

.skill-icon {
  justify-self: center;
  margin: 15px;
  height: 125px;
  padding: 15px;
  border-radius: 1000px;
  background-color: #93A6B8ff;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 50%);
  border: 1px #403c6d;
}


.skill-icon-container {
  background: none;
  text-align: center;
  margin: 20px;
}

.skill-icon-container > p {
  background: none;
  font-size: large;
  left: 10px;
}

.contact-container {
  padding-top: 50px;
  padding-bottom: 100px;
  position: absolute;
  background-color: rgb(234, 238, 251);
  text-align: center;
  justify-content: center;
  color: white;
  /* border-top: white solid 1px; */
}

.contact-icon {
  padding: 15px;
  width: 75px;
  background-color: rgb(234, 238, 251);
}

.contact-icon:hover {
  transform: scale(1.2);
  /* cursor: pointer; */
}

.project-title {

  justify-content: center;
  text-align: center;
}

.project-title > h1 {

  font-size: 75px;
  padding: 20px;
}

.card-title {
  font-size: 30px;
  padding: 0px 0px 10px 0px;
}

.border-rad {
  border-radius: 5px;
}

.project-card {
  margin: 20px;
  /* border-radius: 10px; */
  background-color: #ECEDFDff;
  border: black 1px solid;
  box-shadow: 0 4px 6px 0 hsl(0deg 0% 0% / 20%);
 
}



@media (max-width: 75rem) {
  .project-container {
    height: 350vh;
  }

  .about-container {
    height: 130vh!important;  
  }
}

.project-img {
  overflow: hidden;
}
.image-container {
  overflow: hidden;
  border-radius: 5px;
}
.project-img:hover {
  border-radius: 5px;
  transform: scale(1.25);
}

.project-links {
  background: none;
  height: 25px;
}

.project-links:hover {
  transform: scale(1.2);

} 