
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Red+Hat+Display&family=Source+Code+Pro:wght@400;500&display=swap');
.App {
  text-align: center;

  
}
body{
  background-color: rgb(234, 238, 251);
  font-family: 'MuseoModerno', cursive;
  
  
}

#logo {
  height: 50px;
  width: auto;
  margin: 0px;

}

#profile-img{
  
  border-radius: 1000px;
  height: 375px;
  width: 275px;
  display: block;
  margin: 0px auto;
  margin-top: 180px;
}

#computer{
  height: 450px;
  width: auto;
  margin-left: 20px;

}

#intro{
  text-align: center;
}

#nav {
  top: 0;
  width: 100%;
  position: absolute;
  margin-left: 0 !important;
  overflow: hidden;
  z-index: 1;
  padding-top: 10px;

}
  


.nav-name{
  font-size: xx-large;
  padding-left: 15px;
  background-color: rgb(234, 238, 251);
  font-family: 'MuseoModerno', cursive;

}

